.canvasContainer {
  width: 100%;
  height: 1000px;
}
.canvas {
  background-color: var(--cyan-9);
  border-radius: var(--radius-3);
  width: 100%;
  height: 100%;
}

.draggable {
  background-color: var(--cyan-12);
  color: var(--cyan-2);
  border-radius: var(--radius-3);
}

.droppable {
  width: 200px;
  height: 200px;
  background-color: var(--cyan-4);
  border-radius: var(--radius-3);
}
