.canvasContainer {
  width: 100%;
  height: 1000px;
}
.canvas {
  background-color: var(--cyan-4);
  border-radius: var(--radius-3);
}

.modulesSection {
  background-color: var(--cyan-3);
  color: var(--cyan-2);
  border-radius: var(--radius-3);
}

.saveSection {
  color: var(--cyan-2);
  border-radius: var(--radius-3);
}

.backTestingChart {
  background-color: var(--cyan-12);
  color: var(--cyan-2);
  border-radius: var(--radius-3);
  min-height: 300px;
}

.configurationSection {
  background-color: var(--cyan-3);
  /* color: var(--cyan-2); */
  border-radius: var(--radius-3);
}

/* Drap and drop styles */

.draggable {
  background-color: var(--cyan-12);
  color: var(--cyan-2);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.droppable {
  border-radius: var(--radius-3);
  border: 1px dashed var(--accent-7);
}

.removeButton {
  margin-left: 4px;
}
